<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Inventory Management</title>
</head>
<body>

    <header>
        <div class="logo-container">
            <h1>Inventory Management</h1>
        </div>
        <nav>
            <ul class="desktop-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
            <div class="hamburger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="mobile-menu" id="mobile-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </nav>
    </header>


    <!-- About Section -->
    <section class="about-section">
        <h2>About Smart Inventory</h2>
        <p>Welcome to the ultimate solution for managing your home inventory effortlessly! Our software streamlines and organizes everything you own, making your life simpler and more organized.</p>
    </section>

    <!-- Mission Section -->
    <section class="mission-section">
        <div class="mission-text">
            <h3>Our Mission</h3>
            <p>
                Our mission is to revolutionize inventory management with innovative solutions that make it effortless to organize and manage your belongings. We believe that everyone deserves the joy of a clutter-free and organized life without the stress of manual tracking. That’s why we’ve created a system that automatically updates and tracks your inventory, ensuring you always know what you have and where it is. Our goal is to bring harmony between technology and daily life.
            </p>
        </div>
        <div class="image-container">
            <img src="static/images/aboutus.jpg" alt="Inventory Illustration">
            <p>Efficient Inventory Management</p>
        </div>
    </section>

</body>
</html>
